.container, .jumbotron .container {
  max-width: 800px;
}

.jumbotron {
  margin: 0;
  padding: 20px;
}

.header {
  margin-bottom: 20px;
}

.about {
  font-size: 25px;
  margin-top:20px;
}

.example-holder {
  margin-bottom:40px;
}

.example-holder img {
  max-width: 450px;
  margin:auto;
  margin-top: 40px;
}

.navbar-static-top {
  z-index: initial;
}

.jumbotron img {
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1);
  -moz-transition:all .1s ease-in-out;
  -webkit-transition:all .1s ease-in-out;
  -ms-transition:all .1s ease-in-out;
  -o-transition:all .1s ease-in-out;
  transition:all .1s ease-in-out;
  max-width: 180px;
}

.jumbotron img:hover {
  -moz-transform:scale(1.06);
  -webkit-transform:scale(1.06);
  -o-transform:scale(1.06);
  -ms-transform:scale(1.06);
  transform:scale(1.06);
}

.github-corner:hover .octo-arm {
  animation:octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%, 100% {
    transform:rotate(0);
  }
  20%, 60% {
    transform:rotate(-25deg);
  }
  40%, 80% {
    transform:rotate(10deg);
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation:none;
  }

  .github-corner .octo-arm {
    animation:octocat-wave 560ms ease-in-out;
  }
}
