.container, .jumbotron .container {
  max-width: 800px;
}

.jumbotron {
  margin: 0;
  padding: 20px;
}

.lead {
  font-size: 25px;
}

.navbar-static-top {
  z-index: initial;
}

.jumbotron img {
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1);
  -moz-transition:all .1s ease-in-out;
  -webkit-transition:all .1s ease-in-out;
  -ms-transition:all .1s ease-in-out;
  -o-transition:all .1s ease-in-out;
  transition:all .1s ease-in-out;
  max-width: 180px;
}

.jumbotron img:hover {
  -moz-transform:scale(1.06);
  -webkit-transform:scale(1.06);
  -o-transform:scale(1.06);
  -ms-transform:scale(1.06);
  transform:scale(1.06)
}
